<article class="post-item">
    {{#hasTitle}}
        {{#inList}}<h2>{{displayTitle}}</h2>{{/inList}}
        {{^inList}}<h1>{{displayTitle}}</h1>{{/inList}}
    {{/hasTitle}}

    <div class="post-date"><a href="{{basePath}}/{{{urlPath}}}/">{{formattedDate}}</a></div>

    {{#blogAuthor}}
        <div class="post-author"> by {{#blogAuthorUrl}}<a href="{{{blogAuthorUrl}}}">{{blogAuthor}}</a>{{/blogAuthorUrl}}{{^blogAuthorUrl}}{{blogAuthor}}{{/blogAuthorUrl}}</div>
    {{/blogAuthor}}

    <div class="post-content">
        {{{contentHtml}}}
    </div>

    <div>
    {{#hasCategory}}
        <div class="post-category">
            <a href="{{basePath}}/categories/{{{categoryUrlPath}}}/">{{categoryName}}</a>
        </div>
    {{/hasCategory}}

    {{#hasTags}}
        <div class="post-tags">
            {{#tags}}<a href="{{basePath}}/tags/{{{urlPath}}}/" class="tag">#{{name}}</a> {{/tags}}
        </div>
    {{/hasTags}}
    </div>

</article>
<div class="post-separator"></div>
{{^inList}}
{{#discourseCommentsEnabled}}
<div id="discourse-comments"></div>
<script type="text/javascript">
  DiscourseEmbed = {
    discourseUrl: '{{discourseUrl}}',
    discourseEmbedUrl: '{{{postFullUrl}}}'
  };
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
{{/discourseCommentsEnabled}}
{{/inList}}
