<h1>All Tags</h1>
<div class="archive-separator"></div>
<div class="tag-list">
    {{#tags}}
        <div class="tag-item">
            <h2><a href="/tags/{{urlPath}}/">{{name}}</a> <span class="tag-count">({{postCount}})</span></h2>
        </div>
    {{/tags}}
</div>
