<h1>Archives</h1>
{{#years}}
    <div class="archive-separator"></div>
    <div class="archive-year">{{year}}</div>
    {{#months}}
        <div class="archive-month">
            <a href="{{basePath}}/{{year}}/{{monthPadded}}/">{{monthName}}</a>
        </div>
        <ul class="archive-posts">
            {{#posts}}
                <li>
                    <span class="archive-date">{{dayPadded}} {{monthAbbr}}</span>
                    <a href="{{basePath}}/{{{urlPath}}}/">{{displayTitle}}</a>
                </li>
            {{/posts}}
        </ul>
    {{/months}}
{{/years}}
